.prudy{
  background-color:pink;
}
h1.panel-header{
  background-color: #ffffff;
}
h3.panel-header{
  background-color: #ffffff;
}
#roll-firstdie{
  background-color: red;
}
#roll-seconddie{
  background-color: red;
}
